@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.introduce__header {
    width: 1140px;
    max-width: 80%;
    margin: auto;
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 100;
}
.introduce__header a {
    color: #eee;
    margin-right: 40px;
}
/* carousel */
.introduce__carousel {
    height: 100vh;
    margin-top: -50px;
    width: 100vw;
    overflow: hidden;
    position: relative;
}
.introduce__carousel .introduce__list .introduce__item {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0 0 0 0;
}
.introduce__carousel .introduce__list .introduce__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.introduce__carousel .introduce__list .introduce__item .introduce__content {
    position: absolute;
    top: 20%;
    width: 1140px;
    max-width: 80%;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 30%;
    box-sizing: border-box;
    color: #fff;
    text-shadow: 0 5px 10px #0004;
    background-color: rgba(0, 0, 0, 0.1);
    padding-left: 70px;
    padding-bottom: 70px;
}

.introduce__carousel .introduce__list .introduce__item .introduce__author {
    font-weight: bold;
    letter-spacing: 26px;
    font-size: 12px;
    padding-bottom: 16px;
    line-height: 136px;
}
.introduce__carousel .introduce__list .introduce__item .introduce__title,
.introduce__carousel .introduce__list .introduce__item .topic {
    font-size: 5em;
    font-weight: bold;
    line-height: 1.3em;
}
.introduce__carousel .introduce__list .introduce__item .topic {
    color: #f1683a;
}
.introduce__carousel .introduce__list .introduce__item .introduce__buttons {
    display: grid;
    grid-template-columns: repeat(2, 130px);
    grid-template-rows: 40px;
    gap: 30px;
    margin-top: 20px;
}
.introduce__carousel .introduce__list .introduce__item .introduce__buttons button {
    border: none;
    background-color: #eee;
    letter-spacing: 3px;
    font-family: Poppins;
    font-weight: 500;
    transition: 0.5s;
}
.introduce__carousel .introduce__list .introduce__item .introduce__buttons button:nth-child(2) {
    background-color: transparent;
    border: 1px solid #fff;
    color: #eee;
}
.introduce__carousel .introduce__list .introduce__item .introduce__content .introduce__buttons button:hover {
    scale: 1.1;
    cursor: pointer;
    color: #d2d2d2;
}
.introduce__carousel .introduce__list .introduce__item .introduce__buttons button:nth-child(2):hover {
    background-color: #edeaea;
    opacity: 0.7;
    filter: brightness(1.1);
    color: goldenrod;
}
/* thumbail */
.introduce__thumbnail {
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: max-content;
    z-index: 100;
    display: flex;
    gap: 20px;
}
.introduce__thumbnail .introduce__item {
    width: 150px;
    height: 220px;
    flex-shrink: 0;
    position: relative;
    top: 22px;
    left: 78px;
    transition: 0.5s;
}
.introduce__thumbnail .introduce__item:hover {
    cursor: pointer;
    scale: 1.1;
    transition: 0.5s;
}
.introduce__thumbnail .introduce__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.introduce__thumbnail .introduce__item .introduce__content {
    color: #fff;
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
}
.introduce__thumbnail .introduce__item .introduce__content .introduce__title {
    font-weight: 500;
}
.introduce__thumbnail .introduce__item .introduce__content .introduce__description {
    font-weight: 300;
}
/* arrows */
.introduce__arrows {
    position: absolute;
    top: 80%;
    right: 52%;
    z-index: 100;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.introduce__arrows button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #eee4;
    border: none;
    color: #fff;
    font-family: monospace;
    font-weight: bold;
    transition: 0.5s;
}
.introduce__arrows button:hover {
    background-color: #fff;
    color: #000;
    cursor: pointer;
}

/* animation */
.introduce__carousel .introduce__list .introduce__item:nth-child(1) {
    z-index: 1;
}

/* animation text in first introduce__item */

.introduce__carousel .introduce__list .introduce__item:nth-child(1) .introduce__content .introduce__author,
.introduce__carousel .introduce__list .introduce__item:nth-child(1) .introduce__content .introduce__title,
.introduce__carousel .introduce__list .introduce__item:nth-child(1) .introduce__content .topic,
.introduce__carousel .introduce__list .introduce__item:nth-child(1) .introduce__content .introduce__des,
.introduce__carousel .introduce__list .introduce__item:nth-child(1) .introduce__content .introduce__buttons {
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent 0.5s 1s linear 1 forwards;
}
@keyframes showContent {
    to {
        transform: translateY(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
.introduce__carousel .introduce__list .introduce__item:nth-child(1) .introduce__content .introduce__title {
    animation-delay: 1.2s !important;
}
.introduce__carousel .introduce__list .introduce__item:nth-child(1) .introduce__content .topic {
    animation-delay: 1.4s !important;
}
.introduce__carousel .introduce__list .introduce__item:nth-child(1) .introduce__content .introduce__des {
    animation-delay: 1.6s !important;
}
.introduce__carousel .introduce__list .introduce__item:nth-child(1) .introduce__content .introduce__buttons {
    animation-delay: 1.8s !important;
}
/* create animation when next click */
.introduce__carousel.introduce__next .introduce__list .introduce__item:nth-child(1) img {
    width: 150px;
    height: 220px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    border-radius: 30px;
    animation: showImage 0.5s linear 1 forwards;
}
@keyframes showImage {
    to {
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

.introduce__carousel.introduce__next .introduce__thumbnail .introduce__item:nth-last-child(1) {
    overflow: hidden;
    animation: showThumbnail 0.5s linear 1 forwards;
}
.introduce__carousel.introduce__prev .introduce__list .introduce__item img {
    z-index: 100;
}
@keyframes showThumbnail {
    from {
        width: 0;
        opacity: 0;
    }
}
.introduce__carousel.introduce__next .introduce__thumbnail {
    animation: effectintroduce__next 0.5s linear 1 forwards;
}

@keyframes effectNext {
    from {
        transform: translateX(150px);
    }
}

/* running time */

.introduce__carousel .introduce__time {
    position: absolute;
    z-index: 1000;
    width: 0%;
    height: 3px;
    background-color: #f1683a;
    left: 0;
    top: 0;
}

.introduce__carousel.next .introduce__time,
.introduce__carousel.introduce__prev .introduce__time {
    animation: runningTime 3s linear 1 forwards;
}
@keyframes runningTime {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
}

/* prev click */

.introduce__carousel.introduce__prev .introduce__list .introduce__item:nth-child(2) {
    z-index: 2;
}

.introduce__carousel.introduce__prev .introduce__list .introduce__item:nth-child(2) img {
    animation: outFrame 0.5s linear 1 forwards;
    position: absolute;
    bottom: 0;
    left: 0;
}
@keyframes outFrame {
    to {
        width: 150px;
        height: 220px;
        bottom: 50px;
        left: 50%;
        border-radius: 20px;
    }
}

.introduce__carousel.introduce__prev .thumbnail .introduce__item:nth-child(1) {
    overflow: hidden;
    opacity: 0;
    animation: showThumbnail 0.5s linear 1 forwards;
}
.introduce__carousel.introduce__next .introduce__arrows button,
.introduce__carousel.introduce__prev .introduce__arrows button {
    pointer-events: none;
}
.introduce__carousel.introduce__prev
    .introduce__list
    .introduce__item:nth-child(2)
    .introduce__content
    .introduce__author,
.introduce__carousel.introduce__prev
    .introduce__list
    .introduce__item:nth-child(2)
    .introduce__content
    .introduce__title,
.introduce__carousel.introduce__prev .introduce__list .introduce__item:nth-child(2) .introduce__content .topic,
.introduce__carousel.introduce__prev .introduce__list .introduce__item:nth-child(2) .introduce__content .introduce__des,
.introduce__carousel.introduce__prev
    .introduce__list
    .introduce__item:nth-child(2)
    .introduce__content
    .introduce__buttons {
    animation: contentOut 1.5s linear 1 forwards !important;
}

@keyframes contentOut {
    to {
        transform: translateY(-150px);
        filter: blur(20px);
        opacity: 0;
    }
}
@media screen and (max-width: 678px) {
    .introduce__carousel .introduce__list .introduce__item .introduce__content {
        padding-right: 0;
    }
    .introduce__carousel .introduce__list .introduce__item .introduce__content .introduce__title {
        font-size: 30px;
    }
}
#introduce__next,
#introduce__prev {
    cursor: pointer;
}
